<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"/>
</head>
<body class="fondo">
    <header>
        <div class="header-logo logo-formulario">
            <div class="logo">
                <img class="movimiento" src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>
        </div>
    </header>
    <h1 class="titulo-login">Login</h1>
    <h3 style="text-align: center;">¡Hola! Para seguir, ingresá tu usuario y contraseña</h3><br>
    <div class="caja-formulario">
        <form>
            <div class="formulario-login">
                <br><br>
                <label>Nombre de Usuario</label><br><br>
                <input class="cuadro-login" type="text" required pattern="[A-Za-z]{2}[0-9]{2}" minlength="4" title="Su nombre de usuario debe contener al menos 2 letras y 2 numeros">
                <br><br>
                <label>Contraseña</label><br><br>
                <input class="cuadro-login" type="password" id="contrasena" name="contrasena" required pattern="[A-Za-z]{2}[0-9]{2}" minlength="4" title="Su contraseña debe contener al menos 2 letras y 2 numeros">
                <br><br>
                <button class="boton-login" type="submit"><a href="./">Enviar</a></button>
                <br><br>
            </div>
        </form>
    </div>
    <br><br><br><br>
    <footer>
        <br><br>
        <div class="horizontal">
            <div >
                <div class="iconos">
                    <i class="far fa-credit-card"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <br><br>
            <div>
                <div class="iconos">
                    <i class="fas fa-gift"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <br><br>
            <div>
                <div class="iconos">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            <br><br>
        </div>
        <p class="margen">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>